<div class="row analyticHeader">
    <div class="col-md-6" style="display: flex;
    align-items: center;">
      <!-- <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a> -->
      <input type="hidden" name="toggling" id="toggling" value="showed">
      <!-- <div id="close-sidebar">
        <img src="../../assets/img/toggle.jpg" style="cursor: pointer;">
      </div> -->
      <img src="../../assets/img/logo.png" class="logo-lg">
    </div>

    <!-- <div class="col-md-4">
        <h4 *ngIf="usertype==1" style="font-size: 26px;color: #e0314f;">Pantos Login</h4>
        <h4 *ngIf="usertype==0" style="font-size: 26px;color: #e0314f;">PIC Login</h4>
        <h4 *ngIf="usertype==12" style="font-size: 26px;color: #e0314f;">MD Login</h4>

      </div> -->

    <div class="col-md-6 text-right" style="text-align: right;">
      <div class="text-end" style="display: flex;  align-items: center;  justify-content: end;">

          <div class="currentdatetime"><span _ngcontent-fgb-c2="" style="font-size: 14px;">Wed, Nov 2, 2022 12:00 PM</span></div>

          <div class="dropdown" style="min-width: auto;">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/img/1.png" class="notifyIcon">
            </button>
            <ul class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuButton2">
              <li><div _ngcontent-fgb-c2="" class="not-head" style="position: relative; display: inline-flex; align-items: center; width: 100%;"><p _ngcontent-fgb-c2="" style="margin: 0; color: #565655; font-weight: 500; font-size: 20px;
                padding: 12px 6px 10px 15px;"> Notifications</p><a _ngcontent-fgb-c2="" style="font-size: 12px;
               color: #3496db !important;margin-top: 6px; cursor: pointer;padding-left: 0;">Mark all as read</a></div>
               </li>

            </ul>
          </div>

          <!-- <div class="dropdown" style="min-width: auto;">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/img/add.png" style="width: 40px;">
            </button>
            <ul class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuButton2">
              <li><a href="/#/ContainerRequest">Add Container</a></li>
              <li><a href="/#/Visibilty">Visibility Report</a></li>
            </ul>
          </div> -->

          <div class="dropdown dropdownUserDiv" style="min-width: auto;">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img _ngcontent-fgb-c2="" style="width: 70px;height: 25px; margin-top: 4px;" src="https://demo.pm-studio.com/api//Uploads/companyLogo\10098_f1b427a9-ecc4-41c7-b649-3982c066eec6_04-07-2022-11-34-16.jpeg">
              <img src="../../assets/img/profile.png" style="width: 35px;margin: 0 0 0 8px;">
            </button>
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="https://app.pm-studio.com/#/expense/contactsupport">Contact Support</a></li>
             <li><button class="dropdown-item" (click)="Logout()" >Log Out</button></li>

            </ul> -->
          </div>

      </div>
    </div>




  </div>




