.logo-lg{width: 150px; margin-left: 0px;}

.dropdown-toggle::after{ display: none;}

.dropdown-menu2 a{ padding: 5px 10px; color: #333; display: inline-block; width: 100%;}
.dropdown-menu2 a:hover{ background-color: #e9ecef;}
.analyticHeader{ margin: 0;
  display: flex;
  align-items: center;

  padding: 5px 0;
  position: fixed;
  max-height: 100px;
  z-index: 1030;
  border-bottom: 4px solid #ececec;
  background: #fff;
  width: 100%;
  top: 0;}

  .notifyIcon{margin-right: 5px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;}

    .notifyIcon:hover{ background: #eaf6fe;}

    .dropdown-menu2{ position: absolute;
      inset: 0px auto auto 0px;
      margin: 0px;
      transform: translate(-107px, 40px);
      padding: 0;
      width: 420px;
      left: auto;
      right: 0;
      box-shadow: 0 0 10px #e5e5e5;
      border: 1px solid #eee;}

      .currentdatetime{ display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top:1px;
        border-right: 1px solid #ddd;
        padding-right: 10px;
        font-size: 16px;
        line-height: 30px;
    }

    .dropdownUserDiv{    min-width: auto;
      display: inline-flex;
      border: 1px solid #ddd;
      padding: 0;
      height: 43px;
      border-radius: 5px;
      position: relative;

      margin-left: 5px;}
.myProfileDiv{    position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
 transform: inherit;
  box-shadow: 0 0 10px #e5e5e5;
  border: 1px solid #eee;
  width: 285px;
  right: 0;
  left: auto;
  top: 100%;
  margin: 2px 0 0;padding: 0;}

  .myProfileDiv li{ padding: 10px;}

  .prof-img img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #ddd;
    padding: 2px;
    height: 70px;}
.UserProfileDataItem{ color: #565655; font-size: 14px;border-bottom: 2px solid #ddd;}
.UserProfileDataItem p{ margin-bottom: 0;padding: 2px 3px;}
.userName{ font-weight: 600; margin-top: 3px;}
.userprofileBottomItem{    font-size: 15px;  color: #6f6f6e;}
.userprofileBottomItem .signItem{padding: 5px 10px; display: flex; align-items: center;}
.userprofileBottomItem img{ margin-right: 10px; width: 25px;}
.signItem:hover { background-color: #ececec; cursor: pointer;}
