.logo-lg{width: 160px; margin-left: 0px;}

.dropdown-toggle::after{ display: none;}

.dropdown-menu2 a{ padding: 5px 10px; color: #333; display: inline-block; width: 100%;}
.dropdown-menu2 a:hover{ background-color: #e9ecef;}
