<div class="hold-transition login-page form-group">
  <div class="col-md-12">

    <div class="login-box">
      <div class="login-box-body col-md-12">
              <p class="login-box-msg signIn">Update Password</p>
              <form class="login-form" method="post" name="login_form" id="login-form">
                <div class="row">
                  <form  #form="ngForm">
    
                    <div class="col-lg-12 no-padding">
                      <div class="form-group position-relative">
                          <label>Old Password <span class="text-danger">*</span></label>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          <input  ngModel type="password" class="form-control pl-5" #email placeholder="Old Password" name="opassword" id="opassword" required="">
                      </div>
                  </div>
                    <div class="col-lg-12 no-padding">
                        <div class="form-group position-relative">
                            <label>Password <span class="text-danger">*</span></label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                            <input [(ngModel)]="password"  ngModel type="password" class="form-control pl-5 " #email placeholder="Password" name="password" id="password" required="">
                        </div>
                    </div>
                    <div class="col-lg-12 no-padding">
                      <div class="form-group position-relative">
                          <label>Confirm Password<span class="text-danger">*</span></label>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          <input [(ngModel)]="confirmPassword"  (blur)=" validateC()" ngModel type="password" class="form-control pl-5" #email placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required="">

                          <!-- <span class="error" *ngIf=" (!password&&!confirmPassword)">Confirm Password and password, both are required</span> -->
                      </div>
                  </div>
                    <div class="col-lg-12 mb-0 no-padding">
                        <button class="btn btn-primary rounded w-100" >Update Password</button>
                        <input name="login" type="hidden" value="1">
                    </div>
                    <!-- <p style="font-size: 12px; margin-bottom: 0px; text-align: center; padding-top: 10px;">If you don't change the password <a href="/#/Dashboard">Click Here </a></p> -->
                  </form>
                </div>
            </form>

            <span class="error henlo" style="white-space: pre; margin-bottom: 5px;" *ngIf="errormsg">{{
              errorMessage
            }}</span>
            <br>

            <span class="error" *ngIf=" password!=confirmPassword">Password and Confirm Password must match</span><br>
            <span class="error" *ngIf=" formSubmitted &&  (!password&&!confirmPassword)">Confirm Password and password, both are required</span>
          </div>
        </div>
   </div>
  </div>
  
